a.btn-monospaced {
	line-height: $btn-monospaced-line-height;
	overflow: hidden;
}

.btn-monospaced {
	height: $btn-monospaced-size;
	padding: 0;
	width: $btn-monospaced-size;
	z-index: $zindex-btn-action;

	&.dropdown-toggle:after {
		content: normal;
	}
}

.btn-bottom-left {
	bottom: 20px;
	left: 20px;
	position: fixed;
}

.btn-bottom-right {
	bottom: 20px;
	position: fixed;
	right: 20px;
}

.btn-top-left {
	left: 20px;
	position: fixed;
	top: 20px;
}

.btn-top-right {
	position: fixed;
	right: 20px;
	top: 20px;
}