@include keyframes(slideIn) {
	0% {
		@include transform(translateX(-100%));
	}
	100% {
		@include transform(translateX(0));
	}
}

@include keyframes(dropHeader) {
	0% {
		@include transform(translateY(-100%));
	}
	100% {
		@include transform(translateY(0));
	}
}

@include keyframes(removeBorder) {
	0% {
		border-bottom-color: #D8D8D8;
	}
	100% {
		border-bottom-color: transparent;
	}
}

@include keyframes(fadeIn) {
	0% {
		opacity: 0.25;
	}
	100% {
		opacity: 1;
	}
}

@include media-breakpoint-down(md) {
	.nav-tabs-scrollbar {
		$anim-key-frames: dropHeader 0.5s $ease-out-quint, removeBorder 0.75s $ease-out-quint;
		$anim-delay: 0s, 0.45s;

		@include prefixer(animation, $anim-key-frames, moz o webkit spec);
		// @include prefixer(animation-fill-mode, both, moz o webkit spec); // breaks overflow scroll on safari and mobile safari
		@include prefixer(animation-delay, $anim-delay, moz o webkit spec);
		min-height: 54px;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;

		// &::-webkit-scrollbar {
		// 	display: none;
		// }

		> .nav.nav-tabs,
		> .nav.nav-pills {
			@include prefixer(animation, slideIn 0.5s $ease-out-quint, moz o webkit spec);
			@include prefixer(animation-delay, 0.4s, moz o webkit spec);
			@include prefixer(animation-fill-mode, both, moz o webkit spec);
			@include prefixer(animation-iteration-count, 1, moz o webkit spec);

			white-space: nowrap;

			> .nav-item {
				@include prefixer(animation, fadeIn 0.5s ease-in, moz o webkit spec);
				@include prefixer(animation-fill-mode, both, moz o webkit spec);
				@include prefixer(animation-delay, 0.5s, moz o webkit spec);
				float: none;
				display: inline-block;
			}
		}
	}
}

.nav-tabs-scroll {
	position: relative;

	> .dropdown-menu {
		left: 0;
		max-width: none;
		right: 0;
		top: auto;

		&.open {
			display: block;

			@include media-breakpoint-up(md) {
				display: none;
			}
		}
	}

	.open > .dropdown-menu {
		display: none;

		@include media-breakpoint-up(md) {
			display: block;
		}
	}
}

.nav-tabs-scrollbar {
	.nav {
		float: left;

		@include media-breakpoint-up(md) {
			float: none;
		}
	}
}

.nav-tabs {
	> .nav-item {
		&[class*='col-'] {
			padding-left: 0;
			padding-right: 0;
			text-align: center;

			&:first-child {
				> .dropdown-menu {
					margin-left: 0;
				}
			}

			&:last-child {
				float: right;
			}

			> .nav-link {
				margin-left: 2px;
				margin-right: 0;

				@include text-truncate();
			}

			> .dropdown-menu {
				margin-left: 2px;
			}
		}

		&:first-child > .nav-link {
			margin-left: 0;
		}
	}
}

.nav-tabs .nav-item {
	+ .nav-item[class*='col-'] {
		margin-left: 0;
	}
}

// Nav Tabs Default

.nav-tabs-default {
	border-bottom-color: transparent;

	> .nav-item:first-child {
		&,
		&.open,
		&.active {
			> .nav-link {
				&,
				&:focus,
				&:hover {
					border-left-color: transparent;
				}
			}
		}
	}

	> .nav-item > .nav-link {
		border-left-color: $nav-tabs-border-color;
		border-radius: 0;
		border-width: 0 0 0 1px;
		margin-right: 0;

		&:hover {
			border-color: transparent transparent transparent $nav-tabs-border-color;
		}
	}

	> .nav-item.active > .nav-link {
		&,
		&:focus,
		&:hover {
			border-color: transparent transparent transparent $nav-tabs-border-color;
			border-width: 0 0 0 1px;
		}
	}

	.open > .nav-link {
		&,
		&:focus,
		&:hover {
			border-color: transparent transparent transparent $nav-tabs-border-color;
		}
	}
}

@include media-breakpoint-down(md) {
	.nav-tabs-scroll .nav-tabs-default {
		> .nav-item {
			&:first-child > .nav-link {
				margin-left: 0;
			}

			> .nav-link {
				margin-left: -4px;
			}
		}
	}
}