.btn {
	@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);

	&,
	&:focus,
	&:hover {
		border-width: $btn-border-width;
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		opacity: $btn-disabled-opacity;
	}
}

.btn-sm {
	@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
}

.btn-lg {
	@include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
}

.btn-danger {
	@include color-btn($btn-danger-border);
	@include color-btn-hover($btn-danger-hover-bg, $btn-danger-hover-border);
	@include color-btn-active($btn-danger-active-bg, $btn-danger-active-border);
}

.btn-info {
	@include color-btn($btn-info-border);
	@include color-btn-hover($btn-info-hover-bg, $btn-info-hover-border);
	@include color-btn-active($btn-info-active-bg, $btn-info-active-border);
}

.btn-link {
	@include button-variant($link-color, transparent, transparent);
}

.btn-primary {
	@include color-btn($btn-primary-border);
	@include color-btn-hover($btn-primary-hover-bg, $btn-primary-hover-border);
	@include color-btn-active($btn-primary-active-bg, $btn-primary-active-border);
}

.btn-secondary {
	@include color-btn($btn-secondary-border);
	@include color-btn-hover($btn-secondary-hover-bg, $btn-secondary-hover-border);
	@include color-btn-active($btn-secondary-active-bg, $btn-secondary-active-border);
}

.btn-success {
	@include color-btn($btn-success-border);
	@include color-btn-hover($btn-success-hover-bg, $btn-success-hover-border);
	@include color-btn-active($btn-success-active-bg, $btn-success-active-border);
}

.btn-warning {
	@include color-btn($btn-warning-border);
	@include color-btn-hover($btn-warning-hover-bg, $btn-warning-hover-border);
	@include color-btn-active($btn-warning-active-bg, $btn-warning-active-border);
}

// Action Buttons

a.btn-action,
.btn-action-secondary > a.btn {
	border-radius: $btn-action-border-radius;
	padding: 0;

	[class*="icon-"] {
		line-height: 52px - ($btn-border-width * 2);

		@include media-breakpoint-up(md) {
			line-height: 64px - ($btn-border-width * 2);
		}
	}
}

.btn-action,
.btn-action-secondary .btn {
	border-radius: $btn-action-border-radius;
	font-size: 12px;
	height: 52px;
	line-height: 16px;
	padding: 0;
	width: 52px;

	@include media-breakpoint-up(md) {
		height: 64px;
		line-height: 24px;
		width: 64px;
	}
}

.btn-action-secondary {
	height: 52px;
	text-align: right;
	width: 52px;

	@include media-breakpoint-up(md) {
		height: 64px;
		width: 64px;
	}

	.dropdown-menu-left-side {
		margin-right: 20px;
	}

	.dropdown-menu-right-side {
		margin-left: 20px;
	}

	.dropdown-menu-left,
	.dropdown-menu-top {
		&:after {
			left: 18px;

			@include media-breakpoint-up(md) {
				left: 24px;
			}
		}

		&:before {
			left: 17px;

			@include media-breakpoint-up(md) {
				left: 23px;
			}
		}
	}


	.dropdown-menu-right,
	.dropdown-menu-top-right {
		&:after {
			right: 18px;

			@include media-breakpoint-up(md) {
				right: 24px;
			}
		}

		&:before {
			right: 17px;

			@include media-breakpoint-up(md) {
				right: 23px;
			}
		}
	}

	.dropdown-menu-left-side,
	.dropdown-menu-right-side, {
		&:after {
			top: 18px;

			@include media-breakpoint-up(md) {
				top: 24px;
			}
		}

		&:before {
			top: 17px;

			@include media-breakpoint-up(md) {
				top: 23px;
			}
		}
	}

	.dropdown-menu-left-side-bottom,
	.dropdown-menu-right-side-bottom {
		&:after {
			bottom: 18px;
			top: auto;

			@include media-breakpoint-up(md) {
				bottom: 24px;
				top: auto;
			}
		}

		&:before {
			bottom: 17px;
			top: auto;

			@include media-breakpoint-up(md) {
				bottom: 23px;
				top: auto;
			}
		}
	}
}