.modal-body {
	background-color: #F5F8FA;
}

.modal-footer {
	border-top-width: 0;
	box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.15);
	position: relative;
}

.modal-backdrop.in {
	@include opacity($modal-backdrop-opacity);
}

.modal-content {
	box-shadow: $modal-box-shadow;

	@media screen and (min-width: $grid-float-breakpoint) {
		border-radius: $modal-border-radius;
	}
}

.modal-header {
	background-color: $modal-header-bg;
	color: $modal-header-color;

	.close {
		color: $modal-header-close-color;

		@include opacity(1);
	}
}

// Modal Iframe

.modal-iframe {
	iframe {
		border-width: 0;
		float: left;
		height: 300px;
		width: 100%;
	}

	.modal-body {
		padding: 0;
	}
}

// Modal Full Screen

.modal-full-screen {
	bottom: 0;
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: auto;

	.modal-body {
		background-color: #FFF;
		bottom: 0;
		left: 0;
		overflow: auto;
		position: absolute;
		right: 0;
		top: 48px;
	}

	.modal-body-iframe {
		padding: 0;

		iframe {
			height: 100%;
			border-width: 0;
			float: left;
			width: 100%;
		}
	}

	.modal-content {
		border-radius: 0;
		border-width: 0;
		height: 100%;
	}

	.modal-footer {
		background-color: $text-color;
		border-width: 0;
		color: #FFF;
		left: 0;
		padding: 8px;
		position: absolute;
		right: 0;
		top: 0;

		.modal-title {
			line-height: 32px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.modal-footer-left {
		float: left;
		margin-right: 10px
	}

	.modal-footer-right {
		float: right;
		margin-left: 10px;
	}

	.modal-header {
		border-color: #E4E6E8;
		display: none;
	}
}

.modal-inverse,
.modal-full-screen.modal-inverse {
	.modal-body {
		background-color: #111314;
		color: #A7A7A7;
	}
}

@media screen and (min-width: $grid-float-breakpoint) { // min-width: 768px
	.modal-full-screen {
		.modal-body {
			background-color: #F5F8FA;
			bottom: 80px;
			top: 60px;
		}

		.modal-content {
			border-radius: $modal-border-radius;
		}

		.modal-footer {
			background-color: #FFF;
			padding: 16px 24px;
		}

		.modal-header {
			padding: 12px;

			&,
			.modal-title {
				font-size: 19px;
				line-height: 35px;
				text-align: center;
			}

			.close-modal {
				font-size: 19px;
				margin-top: 5px;
			}
		}
	}
}