.modal-body {
	background-color: #F5F8FA;
}

.modal-footer {
	border-top-width: 0;
	box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.15);
	position: relative;
}

.modal-backdrop.in {
	@include opacity($modal-backdrop-opacity);
}

.modal-content {
	box-shadow: $modal-box-shadow;

	@media screen and (min-width: $grid-float-breakpoint) {
		border-radius: $modal-border-radius;
	}
}

.modal-header {
	background-color: $modal-header-bg;
	color: $modal-header-color;

	.close {
		color: $modal-header-close-color;

		@include opacity(1);
	}
}

// Modal Full Screen

.modal-full-screen {
	.modal-body {
		background-color: #FFF;
		overflow: auto;
		top: 48px;
	}

	.modal-footer {
		background-color: $text-color;
		border-width: 0;
		color: #FFF;

		.modal-title {
			line-height: 32px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

.modal-inverse,
.modal-full-screen.modal-inverse {
	.modal-body {
		background-color: #111314;
		color: #A7A7A7;
	}
}

@media screen and (min-width: $grid-float-breakpoint) { // min-width: 768px
	.modal-full-screen {
		.modal-body {
			background-color: #F5F8FA;
			bottom: 80px;
			top: 60px;
		}

		.modal-content {
			border-radius: $modal-border-radius;
		}

		.modal-footer {
			background-color: #FFF;
			padding: 16px 24px;
		}

		.modal-header {
			padding: 12px;

			&,
			.modal-title {
				font-size: 19px;
				line-height: 35px;
				text-align: center;
			}

			.close-modal {
				font-size: 19px;
				margin-top: 5px;
			}
		}
	}
}