$multi-step-progress-bar-color: #CAD3DB !default;

$multi-step-progress-bar-complete-color: $brand-secondary !default;
$multi-step-progress-bar-complete-margin-left: 18px !default;

$multi-step-progress-bar-divider-height: 2px !default;
$multi-step-progress-bar-divider-margin-bottom: 10px !default;
$multi-step-progress-bar-divider-margin-top: 10px !default;

$multi-step-progress-bar-complete-icon-position-left: -16px !default;

$progress-bar-title-font-weight: 500 !default;