$list-group-border: lighten($brand-default, 30%);
$list-group-border-radius: 0;

$list-group-active-bg: lighten($brand-primary, 32.5);
$list-group-active-border: $brand-primary;

$list-group-border: desaturate(lighten($brand-primary, 28%), 41%);

$list-group-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);

$list-group-header-bg: #F5F8FA;
$list-group-header-color: $brand-default;
$list-group-header-font-weight: 500;

$list-group-header-close-border-color: $list-group-border;
$list-group-header-close-border-width: 1px;

$list-group-header-open-border-color: $brand-primary;
$list-group-header-open-border-width: 2px;

$list-group-header-icon-font-size: 20px;

$list-group-item-heading-margin: 10px 0;