// Toolbars
$toolbar-height: 48px;

$toolbar-desktop-height: 64px;

// Header Toolbars
$header-bar-height: $navbar-height;

$header-bar-desktop-height: 64px;

$header-toolbar-default-bg: $brand-dark;
$header-toolbar-default-color: #FFF;
$header-toolbar-default-link-color: #FFF;
$header-toolbar-default-link-hover-bg: transparent;

//== Toolbar Default
$toolbar-bottom-border: darken(#F5F8FA, 4);
$toolbar-group-default-padding: 6px;

$toolbar-default-link-active-color: $brand-primary;
$toolbar-default-link-color: $brand-default;
$toolbar-default-link-hover-color: $navbar-default-link-hover-color;

$toolbar-default-btn-active-color: $brand-primary;
$toolbar-default-btn-color: $brand-default;
$toolbar-default-btn-hover-color: $navbar-default-link-hover-color;

$toolbar-content-height: (($toolbar-group-default-padding * 2) + ($line-height-base * $input-font-size-base));
//** Align dropdown with bottom of toolbar
$toolbar-dropdown-margin-top: ceil($toolbar-height - $toolbar-content-height) / 2;

$management-toolbar-btn-active-bg: #D1D6D9;
$management-toolbar-default-bg: #F5F8FA;
$management-toolbar-height: 56px;