$blockquote-xs-border-width: 0.0625rem !default;
$blockquote-xs-font-size: $font-size-base * 0.75 !default;
$blockquote-xs-padding-x: $blockquote-xs-font-size * 0.8 !default;
$blockquote-xs-padding-y: $blockquote-xs-font-size * 0.4 !default;

$blockquote-sm-border-width: 0.125rem !default;
$blockquote-sm-font-size: $font-size-base !default;
$blockquote-sm-padding-x: $blockquote-sm-font-size * 0.8 !default;
$blockquote-sm-padding-y: $blockquote-sm-font-size * 0.4 !default;

$blockquote-lg-border-width: 0.5rem !default;
$blockquote-lg-font-size: $font-size-base * 1.5 !default;
$blockquote-lg-padding-x: $blockquote-lg-font-size * 0.8 !default;
$blockquote-lg-padding-y: $blockquote-lg-font-size * 0.4 !default;