$blockquote-border-width-xs: 0.0625rem !default;
$blockquote-font-size-xs: $font-size-base * 0.75 !default;
$blockquote-padding-x-xs: $blockquote-font-size-xs * 0.8 !default;
$blockquote-padding-y-xs: $blockquote-font-size-xs * 0.4  !default;

$blockquote-border-width-sm: 0.125rem !default;
$blockquote-font-size-sm: $font-size-base !default;
$blockquote-padding-x-sm: $blockquote-font-size-sm * 0.8 !default;
$blockquote-padding-y-sm: $blockquote-font-size-sm * 0.4 !default;

$blockquote-border-width-lg: 0.5rem !default;
$blockquote-font-size-lg: $font-size-base * 1.5 !default;
$blockquote-padding-x-lg: $blockquote-font-size-lg * 0.8 !default;
$blockquote-padding-y-lg: $blockquote-font-size-lg * 0.4 !default;